@model SystemMessageViewModel

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="tn-error-mod tn-error-v2">
            <div class="tn-error-title">@Model.Title</div>
            <div class="tn-error-tips text-danger">@Model.BodyLink["Title"]</div>
            <div class="tn-error-info">@Model.Body</div>
            <div class="row tn-error-feedback">
                <div class="col-xs-6">
                    <a class="btn btn-danger btn-block tn-btn-outline"  href="javascript:;" onclick="history.back()">返回上一页</a>
                </div>
                <div class="col-xs-6">
                    @foreach (var item in Model.ButtonLink)
                    {
                        <a class="btn btn-danger btn-block tn-btn-outline" href="@item.Value">@item.Key</a>
                    }
                
                </div>
            </div>
        </div>
    </div>
</div>